{% load static %}
{% load i18n %}
<html>

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{% static "favicon.ico" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/wvc-main.min.css" %}" id="wvc_css">
    <link href="{% static "css/webvirtcloud.css" %}" rel="stylesheet">

    <style>
        #main_container {
            padding: 0;
            width: 100%;
            max-width: none;
            height: 100%;
            background-color: #494949;
            border-bottom-right-radius: 850px 600px;

        }

        #main_container canvas {
            padding-left: 0;
            padding-right: 0;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    </style>

    {% block head %}{% endblock %}

</head>

<body>
    <div id='main_container' class="container">
        <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-primary" arial-label="console navbar">
            <div class="container">
                <a class="navbar-brand">{{ instance.name }}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" role="button"
                                id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                                {% trans "Send key(s)" %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" id="ctrlaltdel" href='#'>Ctrl+Alt+Del</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" id="ctrlaltf1" href='#'>Ctrl+Alt+F1</a>
                                <a class="dropdown-item" id="ctrlaltf2" href='#'>Ctrl+Alt+F2</a>
                                <a class="dropdown-item" id="ctrlaltf3" href='#'>Ctrl+Alt+F3</a>
                                <a class="dropdown-item" id="ctrlaltf4" href='#'>Ctrl+Alt+F4</a>
                                <a class="dropdown-item" id="ctrlaltf5" href='#'>Ctrl+Alt+F5</a>
                                <a class="dropdown-item" id="ctrlaltf6" href='#'>Ctrl+Alt+F6</a>
                                <a class="dropdown-item" id="ctrlaltf7" href='#'>Ctrl+Alt+F7</a>
                                <a class="dropdown-item" id="ctrlaltf8" href='#'>Ctrl+Alt+F8</a>
                                <a class="dropdown-item" id="ctrlaltf9" href='#'>Ctrl+Alt+F9</a>
                                <a class="dropdown-item" id="ctrlaltf10" href='#'>Ctrl+Alt+F10</a>
                                <a class="dropdown-item" id="ctrlaltf11" href='#'>Ctrl+Alt+F11</a>
                                <a class="dropdown-item" id="ctrlaltf12" href='#'>Ctrl+Alt+F12</a>
                            </div>
                        </li>
                        <li class="nav-item" id="fullscreen_button">
                            <a class="nav-link" href='#'>{% trans "Fullscreen" %}</a>
                        </li>
                        {% block navbarmenu %}{% endblock %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </div>
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>

    <script>
        function log_message(msg, type) {
            var exist = $('#status').is('div');
            status_div = $('<div id="status" class="alert alert-' + type + ' role="alert"><button type="button" class="btn-close" aria-label="Close"></button>' + msg + '</div>');
            if (exist) {
                $('#status').remove();
                $('body').prepend(status_div);
            }
            else {
                status_div.hide();
                $('body').prepend(status_div);
                status_div.fadeIn(200);
            }
            if (type != 'danger') {
                status_div.delay(3000).fadeOut(200);
            }
        }

        function log_error(msg) {
            log_message(msg, 'danger');
        }

        function log_info(msg) {
            log_message(msg, 'info');
        }
        {% if console_error %}
        log_error('{{ console_error|escapejs }}');
        {% endif %}
    </script>

    {% block foot %}{% endblock %}
</body>

</html>