@import "dev/scss/bootswatch/cosmo/variables";

$link-decoration:                   none !default;

// Breadcrumbs

$breadcrumb-padding-y:              .375rem !default;
$breadcrumb-padding-x:              .75rem !default;
