/* body {
    background: rgba(203,203,203,1)
} */
.login-box {
    margin-top: 25%;
    display: block;
    align-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px black;
    border-radius: 5px;
    padding-top: 5%;
    padding-bottom: 1%;
}
h1 {
    color:#212529;
}
h2 {
    color:#212529;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 50px auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
    text-align: center;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: 10px;
    border-radius: 5px;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-radius: 5px;
}

.btn-success {
    border-width: 2px;
    border-style: solid;
}
.btn-success:hover {
    border-width: 2px;
    border-style: solid;
}

.logout {
    margin: 100px auto;
    text-align: center;
}

h1 {
    text-align: center;
}

a:hover {
    text-decoration: none;
}
