[Unit]
Description=Webvirt Cloud GSTFSD
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10
LimitNOFILE=64000

ExecStart=/usr/bin/python3 /usr/local/bin/gstfsd

# Make sure stderr/stdout is captured in the systemd journal.
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
