@import "dev/scss/bootswatch/sketchy/variables";

// Breadcrumbs

$breadcrumb-padding-y:              .375rem !default;
$breadcrumb-padding-x:              .75rem !default;

$link-decoration:                   none !default;

// Navbar
$nav-link-padding-x:                1.5rem;

$navbar-padding-y:                  .7rem;