@import "dev/scss/bootswatch/lux/variables";

// Breadcrumbs

$breadcrumb-padding-y:              .375rem !default;
$breadcrumb-padding-x:              .75rem !default;

$link-decoration:                   none !default;

// Buttons

$btn-line-height:             1rem;
$btn-padding-y: .7rem;
$input-btn-padding-y:         .5rem;
$input-btn-padding-x:         1rem ;
$input-btn-padding-y-sm:      .25rem;
$input-btn-padding-x-sm:      .75rem ;
$input-btn-padding-y-lg:      1rem;
$input-btn-padding-x-lg:      1rem;


// Forms

$input-line-height:                     1;

// Navbar

$nav-link-padding-x:                .5rem;
$navbar-padding-y:                  .75rem;

// Color
$secondary:     $gray-400;