/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    /* padding-top: 50px; */
}

/*
 * Global add-ons
 */

a.logo {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    text-align: center;
    font-size: 24px;
}

a.logo:hover {
    opacity: .8;
    text-shadow: 1px 1px 1px rgba(0,0,0,1);
    transition: all .2s ease;
}

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #563d7c;
        border-right: 1px solid #eee;
        text-align: center;
        font-size: 40px;
    }
}

.nav > li.bottom-sticky {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.nav > li.bottom-sticky a {
    display: inline;
    padding-bottom: 0;
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color: #D7D7D7;
    transition: all .3s ease;
}

.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus {
    transition: all .3s ease;
    color: #fff;
    background-color: #42ca9c;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #42ca9c;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}