{% extends "base.html" %}

{% load django_bootstrap5 %}
{% load i18n %}
{% load icons %}

{% block title %}{%trans "Change Password" %}{% endblock title %}

{% block content %}
<div class="row">
    <div class="offset-2 col-lg-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{%trans "Change Password" %}: {{ user }}</h4>
            </div>
            <div class="card-body">
                <form method="post" id="password-change">
                    {% csrf_token %}
                    {% bootstrap_form form layout='horizontal' %}
                </form>
            </div>
            <div class="card-footer">
                <div class="float-end">
                    <a class="btn btn-primary" href="javascript:history.back()">{% icon 'times' %}
                        {% trans "Cancel" %}</a>
                    <button type="submit" form="password-change" class="btn btn-success">
                        {% icon 'check' %} {% trans "Change" %}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}