{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load icons %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block page_heading %}{{ title }}{% endblock page_heading %}

{% block content %}
<div class="alert alert-info">
    {% blocktrans %}
    Enter email address OTP QR code will be sent to.
    {% endblocktrans %}
</div>
<div class="card">
    <div class="card-body">
        <form id="create-update" action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
        </form>
    </div>
    <div class="card-footer">
        <div class="mb-0 float-end">
            <a class="btn btn-primary" href="javascript:history.back()">{% icon 'arrow-left' %} {% trans "Cancel" %}</a>
            <button type="submit" form="create-update" class="btn btn-success">
                {% icon 'envelope-o' %} {% trans "Send" %}
            </button>
        </div>
    </div>
</div>
{% endblock content %}