Django==4.2.11
django_bootstrap5==24.2
django-bootstrap-icons==0.8.7
django-login-required-middleware==0.9.0
django-otp==1.5.0
django-qr-code==4.0.1
django-auth-ldap==4.8.0
djangorestframework==3.15.1
drf-nested-routers==0.93.5
drf-yasg==1.21.7
eventlet==0.36.1
gunicorn==22.0.0
libsass==0.23.0
libvirt-python==10.2.0
lxml==5.2.1
ldap3==2.9.1
markdown>=3.4.1
#psycopg2-binary
python-engineio==4.9.0
python-socketio==5.11.2
qrcode==7.4.2
rwlock==0.0.7
tzdata
websockify==0.11.0
whitenoise==6.6.0
zipp==3.18.1
