Django==4.2.23
django_bootstrap5==25.1
django-bootstrap-icons==0.9.0
django-login-required-middleware==0.9.0
django-otp==1.6.0
django-qr-code==4.2.0
django-auth-ldap==5.2.0
djangorestframework==3.16.0
drf-nested-routers==0.94.2
drf-spectacular[sidecar]==0.28.0
eventlet==0.40.1
gunicorn==23.0.0
libsass==0.23.0
libvirt-python>=9.0.0
lxml>=4.9.0
ldap3==2.9.1
markdown==3.8.2
paramiko==3.4.0
#psycopg2-binary
python-engineio==4.12.0
python-socketio==5.13.0
qrcode==8.2
tzdata
websockify==0.13.0
whitenoise==6.9.0
zipp==3.23.0
crypt-r>=3.13.0; python_version >= "3.13"
