{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load icons %}
{% block title %}{% trans "Instances" %} - {{ compute.name }}{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static "css/sortable-theme-bootstrap.css" %}" />
{% endblock %}
{% block page_header %}{{ compute.name }}{% endblock page_header %}

{% block page_header_extra %}
<a href="{% url 'instances:create_instance_select_type' compute.id %}"
    class="btn btn-success btn-header float-right">
    {% icon 'plus' %}
</a>
{% if instances %}
<div class="float-right search">
    <input id="filter" class="form-control" type="text" placeholder="{% trans 'Search' %}">
</div>
{% endif %}
{% endblock page_header_extra %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-light shadow-sm">
                <li class="breadcrumb-item active">
                    <a href="{% url 'overview' compute.id %}">{% icon 'dashboard' %} {% trans "Overview" %}</a>
                </li>
                <li class="breadcrumb-item">
                    <span class="font-weight-bold">{% icon 'server' %} {% trans "Instances" %}</span>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'storages' compute.id %}">{% icon 'hdd-o' %} {% trans "Storages" %}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'networks' compute.id %}">{% icon 'sitemap' %} {% trans "Networks" %}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'interfaces' compute.id %}">{% icon 'wifi' %} {% trans "Interfaces" %}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'nwfilters' compute.id %}">{% icon 'filter' %} {% trans "NWFilters" %}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'secrets' compute.id %}">{% icon 'key' %} {% trans "Secrets" %}</a>
                </li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        {% if not instances %}
            <div class="alert alert-warning alert-dismissable fade show">
                {% icon 'exclamation-triangle' %} <strong>{% trans "Warning" %}:</strong>
                {% trans "Hypervisor doesn't have any Instances" %}
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
        </div>
        {% else %}
            <table class="table table-hover sortable-theme-bootstrap" data-sortable>
                <thead>
                    <tr>
                        <th scope="col">{% trans 'Name' %}<br>{% trans 'Description' %}</th>
                        <th scope="col">{% trans 'User' %}</th>
                        <th scope="col">{% trans 'Status' %}</th>
                        <th scope="col">{% trans 'VCPU' %}</th>
                        <th scope="col">{% trans 'Memory' %}</th>
                        <th scope="col" data-sortable="false">{% trans 'Actions' %}</th>
                    </tr>
                </thead>
                <tbody class="searchable">
                    {% for instance in instances  %}
                    <tr>
                        <td>
                            <a class="text-secondary" href="{% url 'instances:instance' instance.id %}">
                                {{ instance.name }}
                            </a>
                        </td>
                        <td>
                            <em>
                                {% if instance.userinstance_set.all.count > 0 %}
                                {{ instance.userinstance_set.all.0.user }}
                                {% if instance.userinstance_set.all.count > 1 %}
                                (+{{ instance.userinstance_set.all.count|add:"-1" }})
                                {% endif %}
                                {% endif %}
                            </em>
                        </td>
                        <td>
                            {% if instance.proxy.instance.info.0 == 1 %}<span
                                class="text-success">{% trans "Active" %}</span>{% endif %}
                            {% if instance.proxy.instance.info.0 == 5 %}<span
                                class="text-danger">{% trans "Off" %}</span>{% endif %}
                            {% if instance.proxy.instance.info.0 == 3 %}<span
                                class="text-warning">{% trans "Suspended" %}</span>{% endif %}
                        </td>
                        <td>{{ instance.proxy.instance.info.3 }}</td>
                        <td>{% widthratio instance.proxy.instance.info.1 1024 1 %} MiB</td>
                        <td class="text-nowrap">
                            {% include 'instance_actions.html' %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static "js/sortable.min.js" %}"></script>
<script src="{% static 'js/filter-table.js' %}"></script>
{% endblock %}