@import "dev/scss/bootswatch/cerulean/variables";

// Breadcrumbs

$breadcrumb-padding-y:              .375rem !default;
$breadcrumb-padding-x:              .75rem !default;

$link-secondary: $gray-300;