{% load i18n %}
{% if request.user.is_superuser %}
    <a href="#addHost" type="button" class="btn btn-success btn-header float-right" data-toggle="modal">
        <span class="fa fa-plus" aria-hidden="true"></span>
    </a>

    <!-- Modal -->
    <div class="modal fade" id="addHost" tabindex="-1" role="dialog" aria-labelledby="addHostLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans "Add Connection" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
                </div>

                <ul class="nav nav-pills nav-justified" role="tablist" aria-label="Host connection types">
                    <li class="nav-item"><a class="nav-link active" href="#tcp_con" data-toggle="tab">{% trans "TCP Connection" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="#ssh_con" data-toggle="tab">{% trans "SSH Connection" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="#tls_con" data-toggle="tab">{% trans "TLS Connection" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="#local_con" data-toggle="tab">{% trans "Local Socket Connection" %}</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tcp_con">
                        <div class="modal-body">
                            <form method="post" role="form" aria-label="Add host with tcp connection form">{% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">{% trans "Label" %}</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="name" class="form-control" placeholder="Label Name" maxlength="20" required pattern="[a-z0-9\.\-_]+">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">{% trans "FQDN / IP" %}</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="hostname" class="form-control" placeholder="{% trans "FQDN or IP Address" %}" required pattern="[a-z0-9\.\-_]+">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">{% trans "Username" %}</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="login" class="form-control" placeholder="{% trans "Username" %}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">{% trans "Password" %}</label>
                                    <div class="col-sm-6">
                                        <input type="password" name="password" class="form-control" placeholder="{% trans "Password" %}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">{% trans "Details" %}</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="details" class="form-control" placeholder="{% trans "Details" %}">
                                    </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                {% trans "Close" %}
                            </button>
                            <button type="submit" class="btn btn-primary" name="host_tcp_add">
                                {% trans "Add" %}
                            </button>
                        </div>
                            </form>
                    </div>
                    <div class="tab-pane" id="ssh_con">
                        <div class="modal-body">
                            <form method="post" role="form" aria-label="Add host with ssh connection form">{% csrf_token %}
                                <p class="modal-body">{% trans "You must create ssh <a href='https://github.com/retspen/webvirtmgr/wiki/Setup-SSH-Authorization'>authorization key</a>. If you have another SSH port on your server, you can add IP:PORT like '192.168.1.1:2222'." %}</p>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">{% trans "Label" %}</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="name" class="form-control" placeholder="Label Name" maxlength="20" required pattern="[a-z0-9\.\-_]+">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">{% trans "FQDN / IP" %}</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="hostname" class="form-control" placeholder="{% trans "FQDN or IP Address" %}" required pattern="[a-z0-9\:\.\-_]+">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">{% trans "Username" %}</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="login" class="form-control" placeholder="{% trans "Username" %}">
                                    </div>
                                </div>
                                 <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">{% trans "Details" %}</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="details" class="form-control" placeholder="{% trans "Details" %}">
                                    </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                {% trans "Close" %}
                            </button>
                            <button type="submit" class="btn btn-primary" name="host_ssh_add">
                                {% trans "Add" %}
                            </button>
                        </div>
                            </form>
                    </div>
                    <div class="tab-pane" id="tls_con">
                        <div class="modal-body">
                            <form method="post" role="form" aria-label="Add host with TLS connection form">{% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">{% trans "Label" %}</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="name" class="form-control" placeholder="Label Name" maxlength="20" required pattern="[a-z0-9\.\-_]+">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">{% trans "FQDN / IP" %}</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="hostname" class="form-control" placeholder="{% trans "FQDN or IP Address" %}" required pattern="[a-z0-9\.\-_]+">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">{% trans "Username" %}</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="login" class="form-control" placeholder="{% trans "Username" %}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">{% trans "Password" %}</label>
                                    <div class="col-sm-6">
                                        <input type="password" name="password" class="form-control" placeholder="{% trans "Password" %}">
                                    </div>
                                </div>
                                 <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">{% trans "Details" %}</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="details" class="form-control" placeholder="{% trans "Details" %}">
                                    </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                {% trans "Close" %}
                            </button>
                            <button type="submit" class="btn btn-primary" name="host_tls_add">
                                {% trans "Add" %}
                            </button>
                        </div>
                            </form>
                    </div>
                    <div class="tab-pane" id="local_con">
                        <div class="modal-body">
                            <form method="post" role="form" aria-label="Add host with local socket form">{% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">{% trans "Label" %}</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="name" class="form-control" placeholder="Label Name" maxlength="20" required pattern="[a-z0-9\.\-_]+">
                                    </div>
                                </div>

								<div class="form-group row">
                                    <label class="col-sm-4 col-form-label">{% trans "Details" %}</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="details" class="form-control" placeholder="{% trans "Details" %}">
                                    </div>
                                </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                {% trans "Close" %}
                            </button>
                            <button type="submit" class="btn btn-primary" name="host_socket_add">
                                {% trans "Add" %}
                            </button>
                        </div>
                            </form>
                    </div>
                </div> <!-- /.tab-content -->
            </div> <!-- /.modal-content -->
        </div> <!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endif %}
