{% load i18n %}
{% load django_bootstrap5 %}
{% load icons %}
<div class="btn-group float-end mt-1" role="group" aria-label="Add host button group">
    <a href="{% url 'add_tcp_host' %}" class="btn btn-success">{% trans "TCP" %}</a>
    <a href="{% url 'add_ssh_host' %}" class="btn btn-success">{% trans "SSH" %}</a>
    <a href="{% url 'add_tls_host' %}" class="btn btn-success">{% trans "TLS" %}</a>
    <a href="{% url 'add_socket_host' %}" class="btn btn-success">{% trans "Local" %}</a>
    <a href="#" class="btn btn-success disabled" title="{% trans "Add new host" %}">{% icon "plus" %}</a>
</div>
