{% load i18n %}
{% if request.user.is_superuser %}
    <a href="#AddUser" type="button" class="btn btn-success btn-header float-right" data-toggle="modal">
        <span class="fa fa-plus" aria-hidden="true"></span>
    </a>

    <!-- Modal pool -->
    <div class="modal fade" id="AddUser" tabindex="-1" role="dialog" aria-labelledby="AddUserLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" aria-label="Add user form">{% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title">{% trans "Add New User" %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">{% trans "Name" %}</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="name" placeholder="{% trans "john" %}" required pattern="[a-z0-9]+">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">{% trans "Password" %}</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" name="password" placeholder="*******" {% if not allow_empty_password %}required{% endif %}>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
                        <button type="submit" class="btn btn-primary" name="create">{% trans "Create" %}</button>
                    </div>
                </form>
            </div> <!-- /.modal-content -->
        </div> <!-- /.modal-dialog -->
    </div> <!-- /.modal -->
{% endif %}
