{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Edit Settings" %}{% endblock %}
{% block content %}
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">{% trans "Edit Settings" %}</h2>
            </div>
        </div>
        <!-- /.row -->

        {% include 'errors_block.html' %}

        <div class="">
            <div class="col-lg-12">
                <h3 class="page-header">{% trans "App Settings" %}</h3>
                <form action="{% url 'set_language' %}" method="post" style="display:inline">{% csrf_token %}
                    <div class="form-group row">
                        <input name="next" type="hidden" value="{{ redirect_to }}">
                        <label class="col-sm-3 col-form-label">{% trans "Language" %}</label>
                        <div class="col-sm-6">
                            <select name="language" class="form-control" onchange="this.form.submit()">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                        {{ language.name_local }} ({{ language.code }})
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </form>
                {% if request.user.is_superuser %}
                <form method="post" action="" role="form">{% csrf_token %}
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">{{ sass_dir.name }}</label>
                        <div class="col-sm-6">
                            <input class="form-control" name="{{ sass_dir.key }}" value="{{ sass_dir.value }}" onchange="this.form.submit()"/>
                        </div>
                    </div>
                </form>
                <form method="post" action="" role="form">{% csrf_token %}
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">{% trans bootstrap_theme.name %}</label>
                        <div class="col-sm-6">
                            <select class="form-control" name="{{ bootstrap_theme.key }}" onchange="this.form.submit()">
                            {% for theme in themes_list %}
                                <option {% if bootstrap_theme.value == theme %}selected{% endif %} value="{{ theme }}">{{ theme }}</option>
                            {% endfor %}
                            </select>
                            <span class="text-muted">{% trans "After change please full refresh page with Ctrl + F5 "%}</span>
                        </div>
                    </div>
                </form>
                {% endif %}
                <form method="post" action="" role="form">{% csrf_token %}
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">{{ show_inst_bottom_bar.name }}</label>
                        <div class="col-sm-6">
                            <select class="form-control" name="{{ show_inst_bottom_bar.key }}"  onchange="this.form.submit()">
                                <option {% if show_inst_bottom_bar.value == 'True' %} selected {% endif %} value=True>{% trans "True" %}</option>
                                <option {% if show_inst_bottom_bar.value == 'False' %} selected {% endif %} value=False>{% trans "False" %}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}
