{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block page_heading %}{{ title }}{% endblock page_heading %}

{% block content %}
<div class="row">
    <div class="offset-3 col-6">
        <form method="post">
            {% csrf_token %}
            <div class="alert alert-warning">
                {%trans "Are you sure you want to delete" %} "{{ object }}"?
            </div>
            <div class="mb-0 float-end">
                <a class="btn btn-primary" href="javascript:history.back()">
                    {% bs_icon 'x-circle-fill' %} {% trans "Cancel" %}
                </a>
                <button type="submit" class="btn btn-danger">
                    {% bs_icon 'trash-fill' %} {% trans "Delete" %}
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}