{% load i18n %}
{% if request.user.is_superuser %}
    <a href="#AddQos{{ id }}" type="button" class="btn btn-sm btn-success float-end" data-bs-toggle="modal" title="add qos">
        <span class="fa fa-barcode" aria-hidden="true"></span>
    </a>

    <!-- Modal pool -->
    <div class="modal fade" id="AddQos{{ id }}" tabindex="-1" role="dialog" aria-labelledby="AddQosLabel{{ id }}"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans "Add QoS for Network" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <label class="col-sm-4 col-form-label">{% trans "Direction" %}:</label>
                        <div class="col-sm-6">
                            <select class="form-select" name="qos_direction">
                                <option value="inbound">{% trans 'Inbound' %}</option>
                                <option value="outbound">{% trans 'Outbound' %}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-4 col-form-label">{% trans "Average" %}:</label>
                        <div class="col-sm-6">
                        <input class="form-control" name="qos_average" placeholder="{% trans "kilobytes" %}"
                               required pattern="[0-9]+"/>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-4 col-form-label">{% trans "Peak" %}:</label>
                        <div class="col-sm-6">
                        <input class="form-control" name="qos_peak" placeholder="{% trans "kilobytes" %}"
                               pattern="[0-9]+"/>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-4 col-form-label">{% trans "Burst" %}:</label>
                        <div class="col-sm-6">
                        <input class="form-control" name="qos_burst" placeholder="{% trans "kilobytes" %}"
                               pattern="[0-9]+"/>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
                    <button type="submit" class="btn btn-primary" name="set_qos">{% trans 'Save' %}</button>
                </div>
            </div>
        </div> <!-- /.modal-dialog -->
    </div> <!-- /.modal -->
{% endif %}