{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="WebVirtCloud panel for manage virtual machine">
    <meta name="author" content="anatoliy.guskov@gmail.com">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/wvc-main.min.css" %}" rel="stylesheet" id="wvc_css">

    <!-- WebVirtCloud CSS -->
    <link href="{% static "css/webvirtcloud.css" %}" rel="stylesheet">

    <!-- Aditional CSS -->
    {% block style %}{% endblock %}

    <!-- Custom Fonts -->
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
  </head>

  <body>

    {% include 'navbar.html' %}

    <div role="main" class="container">
      <div class"row">
        <div class="col-sm-12">
          <div class="float-right">
            {% block page_header_extra %}
            {% endblock page_header_extra %}
          </div>
          <h3 class="page-header">
            {% block page_header %}
            {% endblock page_header %}
          </h3>
        </div>
      </div>
      {% bootstrap_messages %}
      {% block content %}{% endblock %}
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
    <!-- JavaScript Cookie -->
    <script src="{% static "js/js.cookie.js" %}"></script>
    {% block script %}{% endblock %}
  </body>
</html>
