{% load i18n %}
{% if error_messages %}
    {% for error in error_messages %}
        <!-- Error Messages -->
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-danger alert-dismissible" role="danger">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <strong>{% trans 'Error' %}:</strong> {{ error }}
                </div>
            </div>
        </div>
        <!-- /.row -->
    {% endfor %}
{% endif %}