{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Instance" %} - {{ vname }}{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">

        {% include 'sidebar.html' %}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            {% include 'create_inst_block.html' %}

            <h1 class="page-header">{{ vname }}</h1>

            {% include 'errors_block.html' %}


        </div>
    </div>
</div>
{% endblock %}