{% load i18n %}
{% if messages %}
    {% for message in messages %}
        <!-- Success Messages -->
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <strong>{% trans 'Success' %}:</strong> {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- /.row -->
    {% endfor %}
{% endif %}