{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Networks" %} - {{ compute.name }}{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">

        {% include 'sidebar.html' %}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            {% include "create_stg_block.html" %}

            <h1 class="page-header">{{ compute.name }}</h1>

            {% include 'compute_block_link.html' %}

            {% include 'errors_block.html' %}

            <div class="row">

                {% if not networks %}
                    <div class="well">
                        <h4>{% trans "You do not have any virtual networks" %}</h4>
                    </div>
                {% else %}
                    {% for pool in networks %}
                        <div class="col-xs-6 col-sm-4">
                            <div class="panel {% if pool.status %}panel-success{% else %}panel-danger{% endif %} panel-data">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><a href="{% url 'network' compute.id pool.name %}">{{ pool.name }}</a></h3>
                                </div>
                                <div class="panel-body">
                                    <p>{% trans "Device" %}: {{ pool.device }}</p>

                                    <p>{% trans "Forward" %}: {{ pool.forward|upper }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

            </div>

        </div>
    </div>
</div>
{% endblock %}