{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Networks" %} - {{ compute.name }}{% endblock %}
{% block content %}
           <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{% trans "Network:" %} {{ pool }}</h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-dashboard"></i> <a href="{% url 'overview' compute.id %}">{% trans "Overview" %}</a>
                        </li>
                        <li>
                            <i class="fa fa-hdd-o"></i> <a href="{% url 'storages' compute.id %}">{% trans "Storages" %}</a>
                        </li>
                        <li>
                            <i class="fa fa-sitemap"></i> <a href="{% url 'networks' compute.id %}">{% trans "Networks" %}</a>
                        </li>
                        <li>
                            <i class="fa fa-wifi"></i> <a href="{% url 'interfaces' compute.id %}">{% trans "Interfaces" %}</a>
                        </li>
                        <li>
                            <i class="fa fa-key"></i> <a href="{% url 'secrets' compute.id %}">{% trans "Secrets" %}</a>
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            {% include 'errors_block.html' %}

            <div class="row">
                <div class="col-xs-6 col-sm-4">
                    <p>{% trans "Network name:" %}</p>
                    <p>{% trans "Device:" %}</p>
                    <p>{% trans "State" %}</p>
                    <p>{% trans "Autostart" %}</p>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <p>{{ pool }}</p>
                    <p>{{ device }}</p>
                    <p>
                        <form action="" method="post" role="form">{% csrf_token %}
                            {% ifequal state 0 %}
                                <input type="submit" class="btn btn-xs btn-default" name="start" value="{% trans "Start" %}">
                                <input type="submit" class="btn btn-xs btn-default" name="delete" value="{% trans "Delete" %}" onclick="return confirm('{% trans "Are you sure?" %}')">
                            {% else %}
                                <input type="submit" class="btn btn-xs btn-default" name="stop" value="{% trans "Stop" %}" onclick="return confirm('{% trans "Are you sure?" %}')">
                            {% endifequal %}
                        </form>
                    </p>
                    <p>
                        <form action="" method="post" role="form">{% csrf_token %}
                            {% ifequal autostart 0 %}
                                <input type="submit" class="btn btn-xs btn-default" name="set_autostart" value="{% trans "Enable" %}">
                            {% else %}
                                <input type="submit" class="btn btn-xs btn-default" name="unset_autostart" onclick="return confirm('{% trans "Are you sure?" %}')" value="{% trans "Disable" %}">
                            {% endifequal %}
                        </form>
                    </p>
                </div>
            </div>
            {% if state %}
                <div class="row">
                    <h3 class="page-header">{% trans "IPv4 configuration" %}</h3>
                    <div class="col-xs-6 col-sm-4">
                        <p>{% trans "IPv4 Forwarding:" %}</p>
                        <p>{% trans "Network:" %}</p>
                        <p>{% trans "DHCP:" %}</p>
                        {% if ipv4_dhcp_range_start and ipv4_dhcp_range_end %}
                            <p>{% trans "Start:" %}</p>
                            <p>{% trans "End:" %}</p>
                        {% endif %}
                    </div>
                     <div class="col-xs-6 col-sm-4">
                        <p>
                            {% ifequal ipv4_forward.0 'nat' %}
                                {% trans "NAT" %}
                            {% endifequal %}
                            {% ifequal ipv4_forward.0 'route' %}
                                {% trans "ROUTE" %}
                            {% endifequal %}
                            {% ifequal ipv4_forward.0 'bridge' %}
                                {% trans "BRIDGE" %}
                            {% endifequal %}
                            {% if not ipv4_forward.0 %}
                                {% trans "ISOLATE" %}
                            {% endif %}
                        </p>
                        <p>{{ ipv4_network }}</p>
                        <p>
                            {% if ipv4_dhcp_range_start and ipv4_dhcp_range_end %}
                                <span class="text-success">{% trans "ON" %}</span>
                            {% else %}
                                <span class="text-danger">{% trans "OFF" %}</span>
                            {% endif %}
                        </p>
                        {% if ipv4_dhcp_range_start and ipv4_dhcp_range_end %}
                            <p>{{ ipv4_dhcp_range_start }}</p>
                            <p>{{ ipv4_dhcp_range_end }}</p>
                        {% endif %}
                    </div>
                </div>
                {% if fixed_address %}
                    <div class="row">
                        <h3 class="page-header">{% trans "Fixed Address" %}</h3>
                        <div class="col-xs-12">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            Show
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="input-append form-inline pull-right" style="">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="filter_input">
                                                </div>
                                                <input type="button" class="btn btn-default" id="filter_button" value="Filter">
                                                <button type="button" class="btn btn-default" id="filter_clear">Clear</button>
                                            </div>
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th style="text-align: center">{% trans "Address" %}</th>
                                                    <th style="text-align: center">{% trans "MAC" %}</th>
                                                </tr>
                                                </thead>
                                                <tbody style="text-align: center">
                                                {% for fix in fixed_address %}
                                                    <tr>
                                                        <td>{{ fix.host }}</td>
                                                        <td>{{ fix.mac }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
{% endblock %}
{% block script %}
    <script>
        $.expr[':'].Contains = $.expr.createPseudo(function (arg) {
            return function (elem) {
                return $(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
            };
        });

        $(document).ready(function () {
            // add event button labeled "filter"
            $('#filter_button').click(function (event) {
                // get value
                var filter_val = $('#filter_input').val();
                if (filter_val == '') {
                    // show all
                    $('tbody tr').show();
                } else {
                    // show only matches
                    $('tbody tr:Contains(\'' + filter_val + '\')').show();
                    // hide non-matching items
                    $('tbody tr:not(:Contains(\'' + filter_val + '\'))').hide();
                }
            });

            // add event button labeled "clear"
            $('#filter_clear').click(function (event) {
                $('#filter_input').val('');
                $('#filter_button').click();
            });

            // trigger filter when enter key pressed
            $('#filter_input').keyup(function (event) {
                if (event.keyCode == 13) {
                    $('#filter_button').click();
                }
            });
        });
    </script>
{% endblock %}