{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Overview" %} - {{ compute.name }}{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">

        {% include 'sidebar.html' %}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h1 class="page-header">{{ compute.name }}</h1>

            {% include 'errors_block.html' %}

            {% include 'compute_block_link.html' %}

            <h4>{% trans "Basic details" %}</h4>

            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>{% trans "Connection" %}</td>
                            <td>{{ uri_conn }}</td>
                        </tr>
                        <tr>
                            <td>{% trans "Hostname" %}</td>
                            <td>{{ hostname }}</td>
                        </tr>
                        <tr>
                            <td>{% trans "Hypervisor" %}</td>
                            <td>{{ hypervisor }}</td>
                        </tr>
                        <tr>
                            <td>{% trans "Memory" %}</td>
                            <td>{{ host_memory|filesizeformat }}</td>
                        </tr>
                        <tr>
                            <td>{% trans "Logical CPUs" %}</td>
                            <td>{{ logical_cpu }}</td>
                        </tr>
                        <tr>
                            <td>{% trans "Processor" %}</td>
                            <td>{{ model_cpu }}</td>
                        </tr>
                        <tr>
                            <td>{% trans "Architecture" %}</td>
                            <td>{{ host_arch }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
{% endblock %}