{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Overview" %} - {{ compute.name }}{% endblock %}
{% block content %}
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ compute.name }}</h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-dashboard"></i> {% trans "Overview" %}
                        </li>
                        <li>
                            <i class="fa fa-hdd-o"></i> <a href="{% url 'storages' compute.id %}">{% trans "Storages" %}</a>
                        </li>
                        <li>
                            <i class="fa fa-sitemap"></i> <a href="{% url 'networks' compute.id %}">{% trans "Networks" %}</a>
                        </li>
                        <li>
                            <i class="fa fa-wifi"></i> <a href="{% url 'interfaces' compute.id %}">{% trans "Interfaces" %}</a>
                        </li>
                        <li>
                            <i class="fa fa-key"></i> <a href="{% url 'secrets' compute.id %}">{% trans "Secrets" %}</a>
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            {% include 'errors_block.html' %}

            <div class="row">
                <div class="col-xs-4 col-sm-3">
                    <p>{% trans "Hostname" %}</p>
                    <p>{% trans "Hypervisor" %}</p>
                    <p>{% trans "Memory" %}</p>
                    <p>{% trans "Architecture" %}</p>
                    <p>{% trans "Logical CPUs" %}</p>
                    <p>{% trans "Processor" %}</p>
                    <p>{% trans "Connection" %}</p>
                </div>
                <div class="col-xs-8 col-sm-7">
                    <p>{{ hostname }}</p>
                    <p>{{ hypervisor }}</p>
                    <p>{{ host_arch }}</p>
                    <p>{{ host_memory|filesizeformat }}</p>
                    <p>{{ logical_cpu }}</p>
                    <p>{{ model_cpu }}</p>
                    <p>{{ uri_conn }}</p>
                </div>
            </div>
{% endblock %}