{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Secrets" %} - {{ compute.name }}{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">

        {% include 'sidebar.html' %}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            {% include "create_stg_block.html" %}

            <h1 class="page-header">{{ compute.name }}</h1>

            {% include 'compute_block_link.html' %}

            {% include 'errors_block.html' %}

            <div class="row">

                {% if not  secrets_all %}
                    <div class="well" role="main">
                        <h4>{% trans "You do not have any Secrets" %}</h4>
                    </div>
                {% else %}
                    <table class="table table-responsive">
                        <thead>
                        <tr class="active">
                            <th>{% trans "UUID" %}</th>
                            <th>{% trans "Type" %}</th>
                            <th>{% trans "Usage" %}</th>
                            <th style="width:90px;">{% trans "Action" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for secret in secrets_all %}
                            <tr>
                                <td>{{ secret.uuid }}</td>
                                <td>{% ifequal secret.usageType 0 %}
                                    {% trans "volume" %}
                                {% endifequal %}
                                    {% ifequal secret.usageType 1 %}
                                        {% trans "iscsi" %}
                                    {% endifequal %}
                                    {% ifequal secret.usageType 2 %}
                                        {% trans "ceph" %}
                                    {% endifequal %}
                                </td>
                                <td>{{ secret.usage }}</td>
                                <td>
                                    <form action="" method="post" role="form">{% csrf_token %}
                                        <input type="hidden" name="uuid" value="{{ secret.uuid }}"/>
                                        <a data-toggle="modal" href="#editSecret{{ secret.uuid }}"
                                           class="btn btn-sm btn-primary" title="{% trans "Edit" %}">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                        <button type="submit" class="btn btn-sm btn-danger" name="delete"
                                                title="{% trans "Delete" %}"
                                                onclick="return confirm('{% trans "Are you sure?" %}')">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </form>
                                    <!-- Modal -->
                                    <div class="modal fade" id="editSecret{{ secret.uuid }}" tabindex="-1" role="dialog"
                                         aria-labelledby="editSecret" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title">{% trans "Set secret value" %}</h4>
                                                </div>
                                                <div class="tab-content">
                                                    <form class="form-horizontal" method="post" role="form">{% csrf_token %}
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">{% trans "Value" %}</label>

                                                            <div class="col-sm-6">
                                                                <input type="hidden" name="uuid" value="{{ secret.uuid }}">
                                                                <input type="text" name="value" class="form-control"
                                                                       value="{{ secret.value }}" maxlength="45" required
                                                                       pattern="[a-zA-Z0-9]$+">
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">{% trans "Close" %}</button>
                                                            <button type="submit" class="btn btn-primary"
                                                                    name="set_value">{% trans "Set" %}</button>
                                                        </div>
                                                    </form>
                                                </div> <!-- /.modal-content -->
                                            </div> <!-- /.modal-dialog -->
                                        </div> <!-- /.modal -->
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

            </div>

        </div>
    </div>
</div>
{% endblock %}