{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Accounts" %}{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">

        {% include 'sidebar.html' %}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <button type="button" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
             <h1 class="page-header">{{ user.username }}</h1>

            {% include 'errors.html' %}

            {{ user }}

        </div>
    </div>
</div>
{% endblock %}