{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Users" %}{% endblock %}
{% block content %}
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    {% include 'create_user_block.html' %}
                    <h1 class="page-header">{% trans "Users" %}</h1>
                </div>
            </div>
            <!-- /.row -->

            {% include 'errors_block.html' %}

            {% for user in users %}
                <div id="{{ user.username }}" class="col-xs-6 col-sm-4">
                    <div class="panel {% if user.is_active %}panel-success{% else %}panel-danger{% endif %} panel-data">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>{{ user.username }}</strong>
                                <a data-toggle="modal" href="{% url 'user' user.id %}" class="pull-right"
                                   title="{% trans "Edit" %}">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <p>Status: {% if user.is_active %}Active{% else %}Blocked{% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
{% endblock %}