{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Secrets" %} - {{ compute.name }}{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/sortable-theme-bootstrap.css' %}" />
{% endblock %}

{% block page_heading %}{{ compute }} - {% trans "Secrets" %}{% endblock page_heading %}

{% block page_heading_extra %}
{% include 'create_secret_block.html' %}
{% endblock page_heading_extra %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb shadow-sm">
                    <li class="breadcrumb-item">
                        <a href="{% url 'overview' compute.id %}"><i class="fa fa-dashboard"></i> {% trans "Overview" %}</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'instances' compute.id %}"><i class="fa fa-server"></i> {% trans "Instances" %}</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'storages' compute.id %}"><i class="fa fa-hdd-o"></i> {% trans "Storages" %}</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'networks' compute.id %}"><i class="fa fa-sitemap"></i> {% trans "Networks" %}</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'interfaces' compute.id %}"><i class="fa fa-wifi"></i> {% trans "Interfaces" %}</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'nwfilters' compute.id %}"><i class="fa fa-filter"></i> {% trans "NWFilters" %}</a>
                    </li>
                    <li class="breadcrumb-item">
                        <span class="fw-bold"><i class="fa fa-key"></i> {% trans "Secrets" %}</span>
                    </li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        {% if not  secrets_all %}
            <div class="col-lg-12">
                <div class="alert alert-warning shadow-sm">
                    <i class="fa fa-exclamation-triangle"></i> <strong>{% trans "Warning" %}:</strong> {% trans "Hypervisor doesn't have any Secrets" %}
                </div>
            </div>
        {% else %}
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-hover sortable-theme-bootstrap" data-sortable>
                        <thead>
                        <tr class="active">
                            <th scope="col">{% trans "UUID" %}</th>
                            <th scope="col">{% trans "Usage Type" %}</th>
                            <th scope="col">{% trans "Data" %}</th>
                            <th scope="col" data-sortable="false" style="width:90px;">{% trans "Action" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for secret in secrets_all %}
                            <tr>
                                <th scope="row">{{ secret.uuid }}</th>
                                <td>{{ secret.usageType }}</td>
                                <td>{{ secret.usage }}</td>
                                <td>
                                    <form action="" method="post" role="form" aria-label="Delete secret form">{% csrf_token %}
                                        <input type="hidden" name="uuid" value="{{ secret.uuid }}"/>
                                        <a data-bs-toggle="modal" href="#editSecret{{ secret.uuid }}" class="btn btn-sm btn-primary" title="{% trans "Edit" %}">
                                            <span class="fa fa-pencil"></span>
                                        </a>
                                        <button type="submit" class="btn btn-sm btn-danger" name="delete" title="{% trans "Delete" %}" onclick="return confirm('{% trans "Are you sure?" %}')">
                                            <span class="fa fa-trash"></span>
                                        </button>
                                    </form>

                                    <!-- Modal -->
                                    <div class="modal fade" id="editSecret{{ secret.uuid }}" tabindex="-1" role="dialog"
                                         aria-labelledby="editSecret" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">{% trans "Set secret value" %}</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="post" role="form" aria-label="Edit secret form">{% csrf_token %}
                                                        <div class="row">
                                                            <label class="col-sm-3 col-form-label">{% trans "Value" %}</label>
                                                            <input type="hidden" name="uuid" value="{{ secret.uuid }}">
                                                            <div class="col-sm-6">
                                                                <input type="text" name="value" class="form-control" value="{{ secret.value }}" maxlength="45" required pattern="[a-zA-Z0-9]$+">
                                                            </div>
                                                        </div>
                                                </div> <!-- /.modal-content -->
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
                                                    <button type="submit" class="btn btn-primary" name="set_value">{% trans "Set" %}</button>
                                                </div>
                                                    </form>
                                            </div> <!-- /.tab-content -->
                                        </div> <!-- /.modal-dialog -->
                                    </div> <!-- /.modal -->
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block script %}
<script src="{% static "js/sortable.min.js" %}"></script>
{% endblock %}