{% load i18n %}
<table class="table table-hover table-striped sortable-theme-bootstrap" data-sortable>
    <thead>
    <tr>
        <th>{% trans "Name" %}<br>{% trans "Description" %}</th>
        <th>{% trans "Host" %}<br>{% trans "User"%}</th>
        <th>{% trans "Status" %}</th>
        <th>{% trans "VCPU" %}</th>
        <th>{% trans "Memory" %}</th>
        <th style="width:200px;" data-sortable="false">{% trans "Actions" %}</th>
    </tr>
    </thead>
    <tbody class="searchable">
    {% for host, inst  in all_host_vms.items %}
        {% for inst, vm in inst.items %}
            <tr>
                <td><a href="{% url 'instance' host.0 inst %}">{{ inst }}</a><br><small><em>{{ info.title }}</em></small></td>
                <td><a href="{% url 'overview' host.0 %}">{{ host.1 }}</a><br><small><em>{% if info.userinstances.count > 0 %}{{ info.userinstances.first_user.user.username }}{% if info.userinstances.count > 1 %} (+{{ info.userinstances.count|add:"-1" }}){% endif %}{% endif %}</em></small></td>
                <td>
                    {% ifequal vm.status 1 %}<span class="text-success">{% trans "Active" %}</span>{% endifequal %}
                    {% ifequal vm.status 5 %}<span class="text-danger">{% trans "Off" %}</span>{% endifequal %}
                    {% ifequal vm.status 3 %}<span class="text-warning">{% trans "Suspend" %}</span>{% endifequal %}
                </td>
                <td>{{ vm.vcpu }}</td>
                <td>{{ vm.memory|filesizeformat }}</td>
                <td class="text-nowrap">
                   {% include "instance_actions.html" %}
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
