{% load i18n %}
{% if request.user.is_superuser %}
    <a href="#AddInstance" type="button" class="btn btn-success btn-header pull-right" data-toggle="modal">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>

    <!-- Modal pool -->
    <div class="modal fade" id="AddInstance" tabindex="-1" role="dialog" aria-labelledby="AddNetPoolLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans "Choose a compute for new instance" %}</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form"> {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-4 control-label">{% trans "Compute" %}</label>
                            <div class="col-sm-6">
                                <select class="form-control" id="compute_select">
                                    {% if computes %}
                                        {% for compute in computes %}
                                            <option value="{{ compute.id }}">{{ compute.name }}</option>
                                        {% endfor %}
                                    {% else %}
                                        <option value="None">{% trans "None" %}</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {% trans "Close" %}
                    </button>
                    {% if computes %}
                        <button type="submit" class="btn btn-primary" name="choose" onclick='goto_compute()'>
                            {% trans "Choose" %}
                        </button>
                    {% else %}
                        <button class="btn btn-primary disabled">
                            {% trans "Choose" %}
                        </button>
                    {% endif %}
                </div>
            </div> <!-- /.modal-content -->
        </div> <!-- /.modal-dialog -->
    </div> <!-- /.modal -->
{% endif %}
