{% load i18n %}
<a href="#AddInstance" type="button" class="btn btn-success btn-header float-end" data-bs-toggle="modal">
    <span class="fa fa-plus" aria-hidden="true"></span>
</a>

<!-- Modal pool -->
<div class="modal fade" id="AddInstance" tabindex="-1" role="dialog" aria-labelledby="AddInstanceModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans "Choose a compute for new instance" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" aria-label="Select compute for instance create form">
                    {% csrf_token %}
                    <div class="row">
                        <table class="table table-hover">
                            <thead>
                                <tr style="cursor:default;pointer-events:none">
                                    <th>{% trans "Name" %}</th>
                                    <th>{% trans "VCPU" %}
                                    <th>{% trans "Cpu Usage" %}</th>
                                    <th>{% trans "Memory" %}</th>
                                    <th>{% trans "Mem Usage" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for compute in computes %}
                                    {% if compute.status is True %}
                                        <tr style="cursor:pointer" onclick="goto_compute('{{ compute.id }}')">
                                            <td>{{ compute.name }}</td>
                                            <td>{{ compute.cpu_count }}</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ compute.cpu_usage }}%"
                                                        aria-valuenow="{{ compute.cpu_usage }}" aria-valuemin="0" aria-valuemax="100">{{ compute.cpu_usage }}%
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{ compute.ram_size|filesizeformat }}</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ compute.ram_usage }}%"
                                                        aria-valuenow="{{ compute.ram_usage }}" aria-valuemin="0" aria-valuemax="100">{{ compute.ram_usage }}%
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form> 
            </div>
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->
