@import "dev/scss/bootswatch/quartz/variables";


// Breadcrumbs

$breadcrumb-padding-y:              .375rem !default;
$breadcrumb-padding-x:              .75rem !default;

$link-decoration:                   none !default;

// Navbar
$nav-link-padding-x:                1.5rem;

$navbar-padding-y:                  .7rem;


// Buttons + Forms

$input-btn-padding-y:               .5rem;
$input-btn-padding-x:               1rem;


$popover-body-padding-y:            $spacer / 2;

$nav-pills-border-radius:          1rem;