{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load common_tags %}
{% load bootstrap_icons %}

{% block title %}{{ title }}{% endblock %}

{% block page_heading %}{{ title }}{% endblock page_heading %}

{% block page_heading_extra %}
<a href="{% url 'admin:user_create' %}" class="btn btn-success btn-header float-end">
    {% bs_icon 'plus-circle-fill' %}
</a>
{% include 'search_block.html' %}
{% endblock page_heading_extra %}

{% block content %}
<div class="row">
    {% if not users %}
        <div class="col-lg-12">
            <div class="alert alert-warning shadow-sm">
                {% bs_icon 'exclamation-triangle '%} <strong>{% trans "Warning" %}:</strong> {% trans "You don't have any user" %}
            </div>
        </div>
    {% else %}
        <div class="col-lg-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th span="col">{% trans "Username" %}</th>
                        <th span="col">{% trans "Status" %}</th>
                        <th span="col">{% trans "Last Login" %}</th>
                        <th span="col">{% trans "Staff" %}</th>
                        <th span="col">{% trans "Superuser" %}</th>
                        <th span="col">{% trans "Can Clone" %}</th>
                        <th span="col">{% trans "Actions" %}</th>
                    </tr>
                </thead>
                <tbody class="searchable">
                {% for user in users %}
                    {% has_perm user 'instances.clone_instances' as can_clone %}
                    <tr class="{% if not user.is_active %}danger{% endif %}">
                        <td>
                            {{ user.username }}
                        </td>
                        <td>
                            {% if user.is_active %}
                                {% trans "Active" %}
                            {% else %}
                                {% trans "Blocked" %}
                            {% endif %}
                        </td>
                        <td>{{ user.last_login }}</td>
                        <td>{% if user.is_staff %}{% bs_icon 'check' %}{% endif %}</td>
                        <td>{% if user.is_superuser %}{% bs_icon 'check' %}</span>{% endif %}</td>
                        <td>{% if can_clone %}{% bs_icon 'check' %}{% endif %}</td>
                        <td>
                            <div class="float-end btn-group">
                                <a class="btn btn-success" title="{%trans "View Profile" %}" href="{% url 'accounts:account' user.id %}">{% bs_icon 'eye-fill' %}</a>
                                <a class="btn btn-primary" title="{%trans "Edit" %}" href="{% url 'admin:user_update' user.id %}">{% bs_icon 'pencil-fill' %}</a>
                                {% if user.is_active %}
                                    <a class="btn btn-warning" title="{%trans "Block" %}" href="{% url 'admin:user_block' user.id %}">{% bs_icon 'stop-fill' %}</a>
                                {% else %}
                                    <a class="btn btn-success" title="{%trans "Unblock" %}" href="{% url 'admin:user_unblock' user.id %}">{% bs_icon 'play-fill' %}</a>
                                {% endif %}
                                <a class="btn btn-danger" title="{%trans "Delete" %}" href="{% url 'admin:user_delete' user.id %}">{% bs_icon 'x-circle-fill' %}</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>
{% endblock content %}

{% block script %}
<script src="{% static "js/filter-table.js" %}"></script>
{% endblock script %}
